@font-face {
  font-family: "PassionOne";
  src: url(fonts/PassionOne-Bold.ttf) format("truetype");
}

a {
    text-decoration:none;
}

body {
    font-size: 100%;
    font-family: "Dosis";
    padding: 0 0 0 0;
    margin: 0;
    border: 0;
    color: #7e7e7b;
    background-color: #ffFFff;
}

#content {
    display:inline-block;
    margin-left:5%;
}

#header {
    width: 100%;
    height:auto;
    background: #202020;
    z-index: 1000;
    line-height: 1.4;
}

#logo {
    margin-left:5%;
    font-weight: bold;
    font-size: 4em;
    text-transform:lowercase;
    color: #FDFDFD;
}

#logo_dot{
    color: #FDDD07;
}


figcaption{
    display:block;
}


figure { 
    display:inline-block;
    vertical-align:top;
    margin:0 15px 0 0;
}

.avatar {
    min-width:5em;
    max-width:10em;
    border-radius: 6px;
}

.section h1{
    font-weight: normal;
    font-size: 2.5em;
    margin: 10px 0 10px 0
}

.section .talk {
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px 0 10px 0;
    color: #202020;
}

.talk a {
    color: #404040;
}



/* Mobile settings */

@media only screen and (max-device-width: 480px) {
    
}