@font-face {
  font-family: "PassionOne";
  src: url(fonts/PassionOne-Bold.ttf) format("truetype");
}

body {
    font-size: 100%;
    font-family: "Dosis";
    padding: 0 0 0 0;
    margin: 0;
    border: 0;
    margin-left: 0em;
    color: #7d7d7b;
    background-color: #FFFFFF;
}

#content, #logo {
    margin-left:5%;
}

#header {
    display:inline-block;
    width: 100%;
    height:auto;
    background: #202020;
    z-index: 1000;
    line-height: 1.4;
}

figcaption a {
    text-decoration:none;
}
figcaption{
    display:block;
}

#logo {
    font-weight: bold;
    font-size: 80px;
    text-transform:lowercase;
    color: #FDFDFD;
}

#logo_dot{
    color: #FDDD07;
}

figure { 
    display:inline-block;
    vertical-align:top;
    margin:0;
    margin-left:0;
    margin-right:15px;
}



.avatar {
    width:10em;
}

h2 {
    font-weight: normal;
    font-size: 60px;
}

